@import '../abstracts/variables';
@import '../abstracts/mixins';

@include font-face('SuecaMedium', suecaslab-medium, normal);
@include font-face('SuecaBold', suecaslab-bold, normal);
@include font-face('Icons', icons, normal);
@include font-face('Logos', logos, normal);


[class^="icon-"], [class*=" icon-"] {
    font-family: 'Icons';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: px(24);
//    padding: px(4);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-clear-night:before {
    content: "\e900";
  }
  .icon-cloudy:before {
    content: "\e901";
  }
  .icon-rain:before {
    content: "\e902";
  }
  .icon-rainy-cloudy:before {
    content: "\e903";
  }
  .icon-snow-cloudy:before {
    content: "\e904";
  }
  .icon-snow:before {
    content: "\e905";
  }
  .icon-storm-cloudy:before {
    content: "\e906";
  }
  .icon-storm:before {
    content: "\e907";
  }
  .icon-sun-cloudy:before {
    content: "\e908";
  }
  .icon-sun:before {
    content: "\e909";
  }
  .icon-windy:before {
    content: "\e90a";
  }
  .icon-email-filled:before {
    content: "\e90b";
  }
  .icon-email:before {
    content: "\e90c";
  }
  .icon-facebook-filled:before {
    content: "\e90d";
  }
  .icon-facebook:before {
    content: "\e90e";
  }
  .icon-instagram:before {
    content: "\e90f";
  }
  .icon-rss:before {
    content: "\e910";
  }
  .icon-twitter-filled:before {
    content: "\e911";
  }
  .icon-twitter:before {
    content: "\e912";
  }
  .icon-whatsapp-filled:before {
    content: "\e913";
  }
  .icon-whatsapp:before {
    content: "\e914";
  }
  .icon-qr:before {
    content: "\e915";
  }
  .icon-shop:before {
    content: "\e916";
  }
  .icon-headset-filled:before {
    content: "\e917";
  }
  .icon-headset:before {
    content: "\e918";
  }
  .icon-pause:before {
    content: "\e919";
  }
  .icon-play-filled:before {
    content: "\e91a";
  }
  .icon-play:before {
    content: "\e91b";
  }
  .icon-zoom:before {
    content: "\e91c";
  }
  .icon-car:before {
    content: "\e91d";
  }
  .icon-coupons:before {
    content: "\e91e";
  }
  .icon-deco--home:before {
    content: "\e91f";
  }
  .icon-entertainment:before {
    content: "\e920";
  }
  .icon-fashion:before {
    content: "\e921";
  }
  .icon-healthy:before {
    content: "\e922";
  }
  .icon-more:before {
    content: "\e923";
  }
  .icon-restaurant:before {
    content: "\e924";
  }
  .icon-shop-online:before {
    content: "\e925";
  }
  .icon-supermarket:before {
    content: "\e926";
  }
  .icon-trip:before {
    content: "\e927";
  }
  .icon-android:before {
    content: "\e928";
  }
  .icon-arrow-down:before {
    content: "\e929";
  }
  .icon-arrow-left:before {
    content: "\e92a";
  }
  .icon-arrow-right:before {
    content: "\e92b";
  }
  .icon-arrow-up:before {
    content: "\e92c";
  }
  .icon-bullet-default:before {
    content: "\e92d";
    color: #5a5a5a;
  }
  .icon-bullet-outline:before {
    content: "\e92e";
    color: #5a5a5a;
  }
  .icon-bullet-xs:before {
    content: "\e92f";
    color: #ccc;
  }
  .icon-calendar-filled:before {
    content: "\e930";
  }
  .icon-calendar:before {
    content: "\e931";
  }
  .icon-check-mark:before {
    content: "\e932";
  }
  .icon-checkbox---blank:before {
    content: "\e933";
  }
  .icon-checkbox---filled:before {
    content: "\e934";
  }
  .icon-checked:before {
    content: "\e935";
  }
  .icon-clock:before {
    content: "\e936";
  }
  .icon-close:before {
    content: "\e937";
  }
  .icon-club-filled:before {
    content: "\e938";
  }
  .icon-club .path1:before {
    content: "\e939";
    color: rgb(39, 39, 39);
  }
  .icon-club .path2:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(0, 141, 255);
  }
  .icon-comment:before {
    content: "\e93b";
  }
  .icon-copy:before {
    content: "\e93c";
  }
  .icon-eye-filled:before {
    content: "\e93d";
  }
  .icon-eye-off-filled:before {
    content: "\e93e";
  }
  .icon-eye-off:before {
    content: "\e93f";
  }
  .icon-eye:before {
    content: "\e940";
  }
  .icon-fast:before {
    content: "\e941";
  }
  .icon-filter:before {
    content: "\e942";
  }
  .icon-flag-filled:before {
    content: "\e943";
  }
  .icon-flag:before {
    content: "\e944";
  }
  .icon-go:before {
    content: "\e945";
  }
  .icon-group:before {
    content: "\e946";
  }
  .icon-home-filled:before {
    content: "\e947";
  }
  .icon-home:before {
    content: "\e948";
  }
  .icon-horizontal-line:before {
    content: "\e949";
    color: #ccc;
  }
  .icon-info-filled:before {
    content: "\e94a";
  }
  .icon-info:before {
    content: "\e94b";
  }
  .icon-ios:before {
    content: "\e94c";
  }
  .icon-like-filled:before {
    content: "\e94d";
  }
  .icon-like:before {
    content: "\e94e";
  }
  .icon-lock-filled:before {
    content: "\e94f";
  }
  .icon-lock:before {
    content: "\e950";
  }
  .icon-map-filled:before {
    content: "\e951";
  }
  .icon-map:before {
    content: "\e952";
  }
  .icon-menu:before {
    content: "\e953";
  }
  .icon-order:before {
    content: "\e954";
  }
  .icon-radio:before {
    content: "\e955";
  }
  .icon-radio-1:before {
    content: "\e956";
  }
  .icon-reply-filled:before {
    content: "\e957";
  }
  .icon-reply:before {
    content: "\e958";
  }
  .icon-search:before {
    content: "\e959";
  }
  .icon-sections-filled:before {
    content: "\e95a";
  }
  .icon-sections:before {
    content: "\e95b";
  }
  .icon-settings-filled:before {
    content: "\e95c";
  }
  .icon-settings:before {
    content: "\e95d";
  }
  .icon-share-android:before {
    content: "\e95e";
  }
  .icon-share:before {
    content: "\e95f";
  }
  .icon-slow:before {
    content: "\e960";
  }
  .icon-star-filled:before {
    content: "\e961";
  }
  .icon-star:before {
    content: "\e962";
  }
  .icon-timer:before {
    content: "\e963";
  }
  .icon-unlock-filled:before {
    content: "\e964";
  }
  .icon-unlock:before {
    content: "\e965";
  }
  .icon-user:before {
    content: "\e966";
  }
  .icon-vertical-line:before {
    content: "\e967";
    color: #ccc;
  }



/*LOGOS*/

$logo-brando: '\e800';
$logo-ohlala: '\e80d';
$logo-lugares: '\e80b';
$logo-living: '\e807';
$logo-hola: '\e803';
$logo-jardin: '\e805';
$logo-rolling: '\e80e';
$logo-bbc: '\e900';
$logo-propiedades: '\e901';
$logo-negocios: '\e80c';
$logo-ln-placeholder: '\e90a';
$logo-ln-mas: '\e909';
$logo-ln: '\e808';
$logo-la-nacion: '\e806';
$logo-hola-argentina: '\e804';
$logo-club-lanacion: '\e802';
$logo-club: '\e801';


[class^='logo-'],
[class*=' logo-'] {
    font-family: 'Logos';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: px(17);
    display: inline-block;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-brando:before {
    content: $logo-brando;
}

.logo-club:before {
    content: $logo-club;
}

.logo-club-lanacion:before {
    content: $logo-club-lanacion;
}

.logo-hola:before {
    content: $logo-hola;
}

.logo-hola-argentina:before {
    content: $logo-hola-argentina;
}

.logo-jardin:before {
    content: $logo-jardin;
}

.logo-la-nacion:before {
    content: $logo-la-nacion;
}

.logo-living:before {
    content: $logo-living;
}

.logo-ln:before {
    content: $logo-ln;
}

.logo-ln-mas:before {
    content: $logo-ln-mas;
}

.logo-ln-placeholder:before {
    content: $logo-ln-placeholder;
}

.logo-lugares:before {
    content: $logo-lugares;
}

.logo-negocios:before {
    content: $logo-negocios;
}

.logo-ohlala:before {
    content: $logo-ohlala;
}

.logo-rolling:before,
.logo-rolling-stone:before {
    content: $logo-rolling;
}

.logo-bbc:before {
    content: $logo-bbc;
}

.logo-propiedades:before {
    content: $logo-propiedades;
}

.logo-la-nacion {
  &.--color {
    color: $light-blue-600;
  }
}






















body {
  @include _2xs;
}

.com-list {
  &.--inline {
    display: inline-flex;
      li:not(:last-child) {
        position: relative;
        padding-right: px(16);
        margin-right: px(16);
        &:after {
          position: absolute;
          font-family: 'Icons';
          content: "\e92f";
          color: #ccc;
          font-size: px(24);
          right: -12px;
          top: -4px;
        }
      }
  }
}

main {
  padding: px(32) 0;
}

.footer {
  padding: px(32) 0;
  border-top: 1px solid $light-neutral-400;
  .com-title {
    display: inline-flex;
    margin-right: px(24);
  }
}

.header {
  padding: px(16) 0;
  border-bottom: 1px solid $light-neutral-400;
  .lay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        .com-image {
          border-radius: 100%;
          margin-right: px(8);
        }
        div {        
          text-align: right;       
          .com-link {
            display: block;
          }
        }
      }
      ul {
        margin-left: px(24);
        border-left: 1px solid #5a5a5a;
        padding-left: px(24);
      }
    }
  }
}

.lay-sidebar {
  > aside {
    width: px(270);
    height: fit-content;
    background: $light-neutral-50;
    border: 1px solid $light-neutral-200;
    border-radius: px(4);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
    margin: 0 px(80) 0 px(40);
    dl {
      padding: px(24);

      dd {
        margin-bottom: px(24);
        a {
          display: block;
          padding-left: px(16);
        }
        
      }
      dt {
        font-weight: 700;
        margin-bottom: px(16);
        padding-top: px(8);
        &:first-child {
          padding-top: 0;
        }
      }

      &.--secondary {
        background: $light-neutral-200;
      }
    }
  }

  >section {
    width: calc(100% - 390px);
  }
}

.mod-title {
  margin-bottom: px(32);
  border-bottom: 1px solid #ccc;
  padding-bottom: px(16) ;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb {
  margin-bottom: px(32);
}

fieldset {
  margin-bottom: px(32);
  legend {
    margin-bottom: px(24);
  }
  
  .mod-input {
    margin-bottom: px(32);
    
    span {
      display: block;
      padding-top: px(8);
    }
  }
}