@import "../global/variables";

.Card {
    position: relative;

    &__number {
        position: absolute;
        bottom: px(40);
        left: px(24);
        z-index: 1;
        color: #fff;
        letter-spacing: px(2);
        font-size: px(19);
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .VinculatedCard & {
        margin-top: px(14);
        margin-bottom: px(16);
    }
}