@import "../global/variables";

.com-list {
  &.--inline {
    display: inline-flex;
    li:not(:last-child) {
      position: relative;
      padding-right: px(16);
      margin-right: px(16);
      &:after {
        position: absolute;
        font-family: "Icons";
        content: "\e909";
        color: #ccc;
        font-size: px(24);
        right: -12px;
        bottom: 0;
      }
    }
  }
}

.list {
  margin-top: px(16);

  li {
    position: relative;
    padding-left: px(32);
    margin-bottom: px(16);

    &:before {
      position: absolute;
      content: "•";
      color: #5A5A5A;
      font-size: px(32);
      left: px(8);
      bottom: 0;
    }
  }
}
