@import '../abstracts/variables';

.com-textarea {
    width: 100%;
    transition: all 0.5s ease-in-out;
    margin-bottom:px(24);

    display: block;
    padding: px(12) px(16);
    border-radius: px(4);
    
    background: $neutral-white;
    border: 1px solid $light-neutral-300;

    resize:none;
    
    &:focus {
        transition: all 0.5s ease-in-out;
        border-color: $light-blue-500;
        &::placeholder {
            color: $light-neutral-800;
        }
    }
    &::placeholder {
        color: $light-neutral-400; 
    }

}