@import '../abstracts/variables';

.com-label {
    display: block;

    &.--for {
        margin-bottom:px(16);
        cursor: pointer;
        align-items: center;
        display: flex;
        
        &:hover {
            opacity: .8;
        }
    }
    &.--title {
        font-weight: 700;
        margin-bottom: px(8);
        
    }
}