@import '../abstracts/variables';

.com-list {
    &.--inline {
      display: inline-flex;
        li:not(:last-child) {
          position: relative;
          padding-right: px(16);
          margin-right: px(16);
          &:after {
            position: absolute;
            font-family: 'Icons';
            content: "\e909";
            color: #ccc;
            font-size: px(24);
            right: -12px;
          }
        }
    }
  }