@import '../abstracts/variables';

.com-button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom:px(24);

    display: inline-flex;
    align-items: center;
    padding: px(12) px(16);
    border-radius: px(4);
    
    background: $light-blue-500;
    border: 1px solid $light-blue-500;
    color: $neutral-white;
    
    font-size: px(14);
    line-height: px(16);
    font-weight: 700;
    text-transform: uppercase;
    
    &:hover {
      background: $light-blue-400;
      border: 1px solid $light-blue-400;
    }

    &.--xs {
        padding: px(8) px(16);
    }

    &.--secondary {
        background: $neutral-white;
        border: 1px solid $light-blue-500;
        color: $light-blue-500;
        &:hover {
            background: $light-blue-500;
            border: 1px solid $light-blue-500;
            color: $neutral-white;
          }
      }

    &.--tertiary {
        background: $light-neutral-200;
        border: 1px solid $light-neutral-200;
        color: $light-neutral-800;
        &:hover {
            background: $light-neutral-300;
            border: 1px solid $light-neutral-300;
            color: $light-neutral-800;
          }
      }

    &.--special {
      background: $yellow-500;
      border: 1px solid $light-neutral-400;
      color: $light-neutral-800;
      &:hover {
          background: $neutral-black;
          border: 1px solid $neutral-black;
          color: $neutral-white;
        }
    }

}
