@import '../abstracts/variables';
.mod-promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacing-xl;
    .mod-promo__descrip {
        padding-right:$spacing-xl;
        .com-title {
            margin-bottom: $spacing-sm;
        }
    }
}