.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-framework{
  position: fixed;
  top: 0;
  left: -10%;
  background-color: #5d5d5d;
  padding: 10px;
  width: 190px;
  z-index: 9999;
  color: #fff;
  transition: left .7s;
}
.nav-framework--visible{
  position: fixed;
  left: 0;
  transition: left .7s;
}
.nav-framework__submenu{
  padding-left: 10px;
}
.nav-framework span{
  position: absolute;
  right: -18px;
  background: #5d5d5d;
  padding: 1px 5px;
  cursor: pointer;
}