@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

input:focus,
a,
button {
  outline: none;
}

body {
  font-family: Arial, 'sans-serif';
}

#wrapper {
  position: relative;
  margin-bottom: 80px;
}

@media (min-width: 1023px) {
  #wrapper {
    margin-bottom: 0;
  }
  #wrapper.--scrollUp {
    padding-top: 64px;
  }
}

main {
  position: relative;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  main {
    padding-bottom: 40px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@font-face {
  font-family: "SuecaMedium";
  src: url("statics/fonts/suecaslab-medium.eot");
  src: url("statics/fonts/suecaslab-medium.eot?#iefix") format("embedded-opentype"), url("statics/fonts/suecaslab-medium.woff") format("woff"), url("statics/fonts/suecaslab-medium.ttf") format("truetype"), url("statics/fonts/suecaslab-medium.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "SuecaBold";
  src: url("statics/fonts/suecaslab-bold.eot");
  src: url("statics/fonts/suecaslab-bold.eot?#iefix") format("embedded-opentype"), url("statics/fonts/suecaslab-bold.woff") format("woff"), url("statics/fonts/suecaslab-bold.ttf") format("truetype"), url("statics/fonts/suecaslab-bold.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Icons";
  src: url("statics/fonts/icons.eot");
  src: url("statics/fonts/icons.eot?#iefix") format("embedded-opentype"), url("statics/fonts/icons.woff") format("woff"), url("statics/fonts/icons.ttf") format("truetype"), url("statics/fonts/icons.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Logos";
  src: url("statics/fonts/logos.eot");
  src: url("statics/fonts/logos.eot?#iefix") format("embedded-opentype"), url("statics/fonts/logos.woff") format("woff"), url("statics/fonts/logos.ttf") format("truetype"), url("statics/fonts/logos.svg?#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Icons';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.5rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: "\e900";
}

.icon-alert-filled:before {
  content: "\e901";
}

.icon-android:before {
  content: "\e902";
}

.icon-arrow-down:before {
  content: "\e903";
}

.icon-arrow-left:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-arrow-up:before {
  content: "\e906";
}

.icon-bullet:before {
  content: "\e907";
  color: #5a5a5a;
}

.icon-bullet-outline:before {
  content: "\e908";
  color: #5a5a5a;
}

.icon-bullet-xs:before {
  content: "\e909";
  color: #ccc;
}

.icon-calendar:before {
  content: "\e90a";
}

.icon-calendar-filled:before {
  content: "\e90b";
}

.icon-car:before {
  content: "\e90c";
}

.icon-check-mark:before {
  content: "\e90d";
}

.icon-checkbox-blank:before {
  content: "\e90e";
}

.icon-checkbox-filled:before {
  content: "\e90f";
}

.icon-checked:before {
  content: "\e910";
}

.icon-clear-night:before {
  content: "\e911";
}

.icon-clock:before {
  content: "\e912";
}

.icon-close:before {
  content: "\e913";
}

.icon-cloudy:before {
  content: "\e914";
}

.icon-club:before {
  content: "\e915";
}

.icon-club-filled:before {
  content: "\e916";
}

.icon-comment:before {
  content: "\e917";
}

.icon-copy:before {
  content: "\e918";
}

.icon-coupons:before {
  content: "\e919";
}

.icon-deco-home:before {
  content: "\e91a";
}

.icon-email:before {
  content: "\e91b";
}

.icon-email-filled:before {
  content: "\e91c";
}

.icon-emoji:before {
  content: "\e91d";
}

.icon-entertainment:before {
  content: "\e91e";
}

.icon-error-warning:before {
  content: "\e91f";
}

.icon-error-warning-filled:before {
  content: "\e920";
}

.icon-eye:before {
  content: "\e921";
}

.icon-eye-filled:before {
  content: "\e922";
}

.icon-eye-off:before {
  content: "\e923";
}

.icon-eye-off-filled:before {
  content: "\e924";
}

.icon-facebook:before {
  content: "\e925";
}

.icon-facebook-filled:before {
  content: "\e926";
}

.icon-fashion:before {
  content: "\e927";
}

.icon-fast:before {
  content: "\e928";
}

.icon-filter:before {
  content: "\e929";
}

.icon-flag:before {
  content: "\e92a";
}

.icon-flag-filled:before {
  content: "\e92b";
}

.icon-go:before {
  content: "\e92c";
}

.icon-group:before {
  content: "\e92d";
}

.icon-headset:before {
  content: "\e92e";
}

.icon-headset-filled:before {
  content: "\e92f";
}

.icon-healthy:before {
  content: "\e930";
}

.icon-home:before {
  content: "\e931";
}

.icon-home-filled:before {
  content: "\e932";
}

.icon-horizontal-line:before {
  content: "\e933";
  color: #ccc;
}

.icon-info:before {
  content: "\e934";
}

.icon-info-filled:before {
  content: "\e935";
}

.icon-instagram:before {
  content: "\e936";
}

.icon-instagram-filled:before {
  content: "\e937";
}

.icon-ios:before {
  content: "\e938";
}

.icon-like:before {
  content: "\e939";
}

.icon-like-filled:before {
  content: "\e93a";
}

.icon-linkedin:before {
  content: "\e93b";
}

.icon-linkedin-filled:before {
  content: "\e93c";
}

.icon-lock:before {
  content: "\e93d";
}

.icon-lock-filled:before {
  content: "\e93e";
}

.icon-map:before {
  content: "\e93f";
}

.icon-map-filled:before {
  content: "\e940";
}

.icon-medium:before {
  content: "\e941";
}

.icon-medium-filled:before {
  content: "\e942";
}

.icon-menu:before {
  content: "\e943";
}

.icon-more:before {
  content: "\e944";
}

.icon-order:before {
  content: "\e945";
}

.icon-pause:before {
  content: "\e946";
}

.icon-pinterest:before {
  content: "\e947";
}

.icon-pinterest-filled:before {
  content: "\e948";
}

.icon-play:before {
  content: "\e949";
}

.icon-play-filled:before {
  content: "\e94a";
}

.icon-qr:before {
  content: "\e94b";
}

.icon-radio-filled:before {
  content: "\e94c";
}

.icon-radio-blank:before {
  content: "\e94d";
}

.icon-rain:before {
  content: "\e94e";
}

.icon-rainy-cloudy:before {
  content: "\e94f";
}

.icon-reply:before {
  content: "\e950";
}

.icon-reply-filled:before {
  content: "\e951";
}

.icon-restaurant:before {
  content: "\e952";
}

.icon-rss:before {
  content: "\e953";
}

.icon-search:before {
  content: "\e954";
}

.icon-sections:before {
  content: "\e955";
}

.icon-sections-filled:before {
  content: "\e956";
}

.icon-settings:before {
  content: "\e957";
}

.icon-settings-filled:before {
  content: "\e958";
}

.icon-share:before {
  content: "\e959";
}

.icon-share-android:before {
  content: "\e95a";
}

.icon-shop:before {
  content: "\e95b";
}

.icon-shop-online:before {
  content: "\e95c";
}

.icon-slow:before {
  content: "\e95d";
}

.icon-snapchat:before {
  content: "\e95e";
}

.icon-snapchat-filled:before {
  content: "\e95f";
}

.icon-snow:before {
  content: "\e960";
}

.icon-snow-cloudy:before {
  content: "\e961";
}

.icon-soundcloud:before {
  content: "\e962";
}

.icon-soundcloud-filled:before {
  content: "\e963";
}

.icon-spotify:before {
  content: "\e964";
}

.icon-spotify-filled:before {
  content: "\e965";
}

.icon-star:before {
  content: "\e966";
}

.icon-star-filled:before {
  content: "\e967";
}

.icon-storm:before {
  content: "\e968";
}

.icon-storm-cloudy:before {
  content: "\e969";
}

.icon-sun:before {
  content: "\e96a";
}

.icon-sun-cloudy:before {
  content: "\e96b";
}

.icon-supermarket:before {
  content: "\e96c";
}

.icon-tiktok:before {
  content: "\e96d";
}

.icon-timer:before {
  content: "\e96e";
}

.icon-trip:before {
  content: "\e96f";
}

.icon-tumblr:before {
  content: "\e970";
}

.icon-twitch:before {
  content: "\e971";
}

.icon-twitter:before {
  content: "\e972";
}

.icon-twitter-filled:before {
  content: "\e973";
}

.icon-unlock:before {
  content: "\e974";
}

.icon-unlock-filled:before {
  content: "\e975";
}

.icon-user:before {
  content: "\e976";
}

.icon-vertical-line:before {
  content: "\e977";
  color: #ccc;
}

.icon-whatsapp:before {
  content: "\e978";
}

.icon-whatsapp-filled:before {
  content: "\e979";
}

.icon-windy:before {
  content: "\e97a";
}

.icon-youtube:before {
  content: "\e97b";
}

.icon-youtube-filled:before {
  content: "\e97c";
}

.icon-zoom:before {
  content: "\e97d";
}

/*LOGOS*/
[class^='logo-'],
[class*=' logo-'] {
  font-family: 'Logos';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.0625rem;
  display: inline-block;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-brando:before {
  content: "";
}

.logo-club:before {
  content: "";
}

.logo-club-lanacion:before {
  content: "";
}

.logo-hola:before {
  content: "";
}

.logo-hola-argentina:before {
  content: "";
}

.logo-jardin:before {
  content: "";
}

.logo-la-nacion:before {
  content: "";
}

.logo-living:before {
  content: "";
}

.logo-ln:before {
  content: "";
}

.logo-ln-mas:before {
  content: "";
}

.logo-ln-placeholder:before {
  content: "";
}

.logo-lugares:before {
  content: "";
}

.logo-negocios:before {
  content: "";
}

.logo-ohlala:before {
  content: "";
}

.logo-rolling:before,
.logo-rolling-stone:before {
  content: "";
}

.logo-bbc:before {
  content: "";
}

.logo-propiedades:before {
  content: "";
}

.logo-la-nacion.--color {
  color: #006998;
}

[class~="6xs"] {
  font-size: 0.6875rem;
  line-height: 1rem;
}

[class~="5xs"] {
  font-size: 0.75rem;
  line-height: 1rem;
}

[class~="4xs"] {
  font-size: 0.875rem;
  line-height: 1rem;
}

[class~="3xs"] {
  font-size: 0.9375rem;
  line-height: 1.0625rem;
}

[class~="2xs"] {
  font-size: 1rem;
  line-height: 1.5rem;
}

[class~="xs"] {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

[class~="s"] {
  font-size: 1.1875rem;
  line-height: 1.875rem;
}

[class~="m"] {
  font-size: 1rem;
  line-height: 1.75rem;
}

[class~="l"] {
  font-size: 1.5rem;
  line-height: 2rem;
}

[class~="xl"] {
  font-size: 2rem;
  line-height: 2.5rem;
}

[class~="2xl"] {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

[class~="3xl"] {
  font-size: 3rem;
  line-height: 3.5rem;
}

strong {
  font-weight: 700;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-mobile-1,
.col-mobile-2,
.col-mobile-3,
.col-mobile-4,
.col-mobile-5,
.col-mobile-6,
.col-mobile-7,
.col-mobile-8,
.col-mobile-9,
.col-mobile-10,
.col-mobile-11,
.col-mobile-12,
.col-mobile,
.col-mobile-auto,
.col-tablet-1,
.col-tablet-2,
.col-tablet-3,
.col-tablet-4,
.col-tablet-5,
.col-tablet-6,
.col-tablet-7,
.col-tablet-8,
.col-tablet-9,
.col-tablet-10,
.col-tablet-11,
.col-tablet-12,
.col-tablet,
.col-tablet-auto,
.col-desksm-1,
.col-desksm-2,
.col-desksm-3,
.col-desksm-4,
.col-desksm-5,
.col-desksm-6,
.col-desksm-7,
.col-desksm-8,
.col-desksm-9,
.col-desksm-10,
.col-desksm-11,
.col-desksm-12,
.col-desksm,
.col-desksm-auto,
.col-deskxl-1,
.col-deskxl-2,
.col-deskxl-3,
.col-deskxl-4,
.col-deskxl-5,
.col-deskxl-6,
.col-deskxl-7,
.col-deskxl-8,
.col-deskxl-9,
.col-deskxl-10,
.col-deskxl-11,
.col-deskxl-12,
.col-deskxl,
.col-deskxl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.order-last {
  -ms-flex-order: 13;
  -webkit-box-ordinal-group: 14;
          order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 768px) {
  .col-tablet {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-tablet-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-tablet-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-tablet-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-tablet-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-tablet-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-tablet-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-tablet-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-tablet-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-tablet-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-tablet-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-tablet-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-tablet-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-tablet-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-tablet-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-tablet-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-tablet-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-tablet-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-tablet-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-tablet-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-tablet-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-tablet-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-tablet-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-tablet-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-tablet-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-tablet-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-tablet-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-tablet-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-tablet-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-tablet-0 {
    margin-left: 0%;
  }
  .offset-tablet-1 {
    margin-left: 8.33333%;
  }
  .offset-tablet-2 {
    margin-left: 16.66667%;
  }
  .offset-tablet-3 {
    margin-left: 25%;
  }
  .offset-tablet-4 {
    margin-left: 33.33333%;
  }
  .offset-tablet-5 {
    margin-left: 41.66667%;
  }
  .offset-tablet-6 {
    margin-left: 50%;
  }
  .offset-tablet-7 {
    margin-left: 58.33333%;
  }
  .offset-tablet-8 {
    margin-left: 66.66667%;
  }
  .offset-tablet-9 {
    margin-left: 75%;
  }
  .offset-tablet-10 {
    margin-left: 83.33333%;
  }
  .offset-tablet-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 64em) {
  .col-desksm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-desksm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-desksm-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-desksm-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-desksm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-desksm-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-desksm-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-desksm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-desksm-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-desksm-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-desksm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-desksm-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-desksm-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-desksm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-desksm-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-desksm-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-desksm-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-desksm-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-desksm-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-desksm-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-desksm-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-desksm-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-desksm-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-desksm-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-desksm-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-desksm-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-desksm-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-desksm-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-desksm-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-desksm-0 {
    margin-left: 0%;
  }
  .offset-desksm-1 {
    margin-left: 8.33333%;
  }
  .offset-desksm-2 {
    margin-left: 16.66667%;
  }
  .offset-desksm-3 {
    margin-left: 25%;
  }
  .offset-desksm-4 {
    margin-left: 33.33333%;
  }
  .offset-desksm-5 {
    margin-left: 41.66667%;
  }
  .offset-desksm-6 {
    margin-left: 50%;
  }
  .offset-desksm-7 {
    margin-left: 58.33333%;
  }
  .offset-desksm-8 {
    margin-left: 66.66667%;
  }
  .offset-desksm-9 {
    margin-left: 75%;
  }
  .offset-desksm-10 {
    margin-left: 83.33333%;
  }
  .offset-desksm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 80em) {
  .col-deskxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .col-deskxl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-deskxl-1 {
    -ms-flex: 0 0 8.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-deskxl-2 {
    -ms-flex: 0 0 16.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-deskxl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-deskxl-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-deskxl-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-deskxl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-deskxl-7 {
    -ms-flex: 0 0 58.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-deskxl-8 {
    -ms-flex: 0 0 66.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-deskxl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-deskxl-10 {
    -ms-flex: 0 0 83.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-deskxl-11 {
    -ms-flex: 0 0 91.66667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-deskxl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .order-deskxl-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .order-deskxl-last {
    -ms-flex-order: 13;
    -webkit-box-ordinal-group: 14;
            order: 13;
  }
  .order-deskxl-0 {
    -ms-flex-order: 0;
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .order-deskxl-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .order-deskxl-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .order-deskxl-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .order-deskxl-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .order-deskxl-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .order-deskxl-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .order-deskxl-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .order-deskxl-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .order-deskxl-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .order-deskxl-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .order-deskxl-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .order-deskxl-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .offset-deskxl-0 {
    margin-left: 0%;
  }
  .offset-deskxl-1 {
    margin-left: 8.33333%;
  }
  .offset-deskxl-2 {
    margin-left: 16.66667%;
  }
  .offset-deskxl-3 {
    margin-left: 25%;
  }
  .offset-deskxl-4 {
    margin-left: 33.33333%;
  }
  .offset-deskxl-5 {
    margin-left: 41.66667%;
  }
  .offset-deskxl-6 {
    margin-left: 50%;
  }
  .offset-deskxl-7 {
    margin-left: 58.33333%;
  }
  .offset-deskxl-8 {
    margin-left: 66.66667%;
  }
  .offset-deskxl-9 {
    margin-left: 75%;
  }
  .offset-deskxl-10 {
    margin-left: 83.33333%;
  }
  .offset-deskxl-11 {
    margin-left: 91.66667%;
  }
}

[class^='row-gap'],
[class*=' row-gap'] {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

@media (min-width: 80em) {
  [class^='row-gap'],
  [class*=' row-gap'] {
    grid-column-gap: 2.5rem;
  }
}

.row-gap-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-gap-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.row-gap-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 48em) {
  .row-gap-tablet-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-tablet-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-tablet-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 64em) {
  .row-gap-desksm-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-desksm-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-desksm-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .offset-negative {
    margin-left: -8.3333%;
    width: calc(100% + 8.3333%);
  }
}

@media (min-width: 80em) {
  .row-gap-deskxl-4 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .row-gap-deskxl-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .row-gap-deskxl-2 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.lay-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5rem;
}

@media (min-width: 68.75em) {
  .lay-sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sidebar__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 2.5rem;
  }
  .sidebar__aside {
    -ms-flex-preferred-size: 18.75rem;
        flex-basis: 18.75rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

[class^='lay'],
[class*=' lay'] {
  width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 22em) {
  [class^='lay'],
  [class*=' lay'] {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media (min-width: 48em) {
  [class^='lay'],
  [class*=' lay'] {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media (min-width: 64em) {
  [class^='lay'],
  [class*=' lay'] {
    max-width: 1340px;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.lay-full-width {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.com-button {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background: #0074C4;
  border: 1px solid #0074C4;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.com-button:hover {
  background: #008DFF;
  border-color: #008DFF;
}

.com-button.--active {
  background: #006998;
  border-color: #006998;
}

.com-button.--disabled {
  background: #CCCCCC;
  border-color: #CCCCCC;
  cursor: default;
}

.com-button.--secondary {
  background: #FFFFFF;
  border-color: #0074C4;
  color: #0074C4;
}

.com-button.--secondary:hover {
  background: #0074C4;
  border-color: #0074C4;
  color: #FFFFFF;
}

.com-button.--secondary.--active {
  background: #006998;
  border-color: #006998;
  color: #FFFFFF;
}

.com-button.--secondary.--disabled {
  background: #FFFFFF;
  border-color: #CCCCCC;
  color: #CCCCCC;
}

.com-button.--tertiary {
  background: #F2F2F2;
  border-color: #F2F2F2;
  color: #272727;
}

.com-button.--tertiary:hover {
  background: #E4E4E4;
  border-color: #E4E4E4;
}

.com-button.--tertiary.--active {
  background: #CCCCCC;
  border-color: #CCCCCC;
}

.com-button.--tertiary.--disabled {
  background: #E4E4E4;
  border-color: #E4E4E4;
  color: #919191;
}

.com-button.--special {
  background: #FFFF24;
  border-color: #CCCCCC;
  color: #272727;
}

.com-button.--special:hover {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.com-button.--special.--active {
  background: #000000;
  border-color: #000000;
  color: #FFFFFF;
}

.com-button.--special.--disabled {
  background: #FFFFFF;
  border-color: #CCCCCC;
  color: #CCCCCC;
}

.com-button.--xs {
  padding: 0.5rem 1rem;
}

.com-input {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  resize: none;
}

.com-input.--disabled {
  background: #F2F2F2;
  color: #919191;
}

.com-input.--disabled::-webkit-input-placeholder {
  color: #919191;
}

.com-input.--disabled:-ms-input-placeholder {
  color: #919191;
}

.com-input.--disabled::-ms-input-placeholder {
  color: #919191;
}

.com-input.--disabled::placeholder {
  color: #919191;
}

.com-input:focus {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-color: #0074C4;
}

.com-input:focus::-webkit-input-placeholder {
  color: #272727;
}

.com-input:focus:-ms-input-placeholder {
  color: #272727;
}

.com-input:focus::-ms-input-placeholder {
  color: #272727;
}

.com-input:focus::placeholder {
  color: #272727;
}

.com-input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.com-input:-ms-input-placeholder {
  color: #CCCCCC;
}

.com-input::-ms-input-placeholder {
  color: #CCCCCC;
}

.com-input::placeholder {
  color: #CCCCCC;
}

.com-input[type=radio], .com-input[type=checkbox] {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 0;
  background: #FFFFFF;
  border: 1px solid #272727;
  margin-right: 0.5rem;
}

.com-label .com-input {
  margin-bottom: 0;
}

.com-label {
  display: block;
}

.com-label.--for {
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.com-label.--for:hover {
  opacity: .8;
}

.com-label.--title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.com-link {
  cursor: pointer;
  color: #0074C4;
}

.com-link:hover {
  opacity: .8;
}

.com-title.3xl {
  font-family: SuecaBold;
}

.com-title.2xl {
  font-family: SuecaBold;
}

.com-title.xl {
  font-family: SuecaBold;
}

.com-title.s {
  font-weight: 700;
}

.com-title.xs {
  font-weight: 700;
}

.com-title.2xs {
  font-weight: 700;
}

.com-textarea {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 1.5rem;
  display: block;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  resize: none;
}

.com-textarea:focus {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-color: #0074C4;
}

.com-textarea:focus::-webkit-input-placeholder {
  color: #272727;
}

.com-textarea:focus:-ms-input-placeholder {
  color: #272727;
}

.com-textarea:focus::-ms-input-placeholder {
  color: #272727;
}

.com-textarea:focus::placeholder {
  color: #272727;
}

.com-textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

.com-textarea:-ms-input-placeholder {
  color: #CCCCCC;
}

.com-textarea::-ms-input-placeholder {
  color: #CCCCCC;
}

.com-textarea::placeholder {
  color: #CCCCCC;
}

.com-list.--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.com-list.--inline li:not(:last-child) {
  position: relative;
  padding-right: 1rem;
  margin-right: 1rem;
}

.com-list.--inline li:not(:last-child):after {
  position: absolute;
  font-family: 'Icons';
  content: "\e909";
  color: #ccc;
  font-size: 1.5rem;
  right: -12px;
}

.mod-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.mod-article .mod-description {
  padding-right: 2.5rem;
}

.mod-article .mod-description .com-title {
  margin-bottom: 1rem;
}

.mod-article .mod-description p {
  margin-bottom: 1rem;
}

.mod-toast {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2.5rem;
  padding: 1rem;
  background: #FEFEFE;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000;
}

.mod-toast > .com-icon {
  border-right: 1px solid #ccc;
  margin-right: 16px;
  padding: 8px 12px 8px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.mod-toast .com-button {
  position: absolute;
  right: 1rem;
  padding: 0.25rem;
}

.mod-toast .mod-description {
  margin-right: 3.125rem;
}

.mod-toast.--success {
  border-color: #22B120;
}

.mod-toast.--success .com-title, .mod-toast.--success > .com-icon {
  color: #22B120;
}

.mod-toast.--warning {
  border-color: #E2342D;
}

.mod-toast.--warning .com-title, .mod-toast.--warning > .com-icon {
  color: #E2342D;
}

.mod-toast.--info {
  border-color: #008DFF;
}

.mod-toast.--info .com-title, .mod-toast.--info > .com-icon {
  color: #008DFF;
}

.mod-toast.--alert {
  border-color: #EF9B30;
}

.mod-toast.--alert .com-title, .mod-toast.--alert > .com-icon {
  color: #EF9B30;
}

body {
  font-size: 1rem;
  line-height: 1.5rem;
}

main {
  padding: 2rem 0;
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid #CCCCCC;
}

.header .lay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .lay .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .lay .right > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .lay .right > div .com-image {
  border-radius: 100%;
  margin-right: 0.5rem;
}

.header .lay .right > div div {
  text-align: right;
}

.header .lay .right > div div .com-link {
  display: block;
}

.header .lay .right ul {
  margin-left: 1.5rem;
  border-left: 1px solid #5a5a5a;
  padding-left: 1.5rem;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #CCCCCC;
}

.footer .com-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1.5rem;
}

.lay-sidebar > aside {
  width: 16.875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FEFEFE;
  border: 1px solid #F2F2F2;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.04);
  margin: 0 5rem 0 2.5rem;
}

.lay-sidebar > aside dl {
  padding: 1.5rem;
}

.lay-sidebar > aside dl dd {
  margin-bottom: 1.5rem;
}

.lay-sidebar > aside dl dd a {
  display: block;
  padding-left: 1rem;
}

.lay-sidebar > aside dl dt {
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.lay-sidebar > aside dl dt:first-child {
  padding-top: 0;
}

.lay-sidebar > aside dl.--secondary {
  background: #F2F2F2;
}

.lay-sidebar > section {
  width: calc(100% - 390px);
}

.mod-title {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb {
  margin-bottom: 2rem;
}

fieldset {
  margin-bottom: 2rem;
}

fieldset legend {
  margin-bottom: 1.5rem;
}

fieldset .mod-input {
  margin-bottom: 2rem;
}

fieldset .mod-input span {
  display: block;
  padding-top: 0.5rem;
}
/*# sourceMappingURL=index.css.map */